<mat-toolbar>
    <a mat-flat-button class="nav-button" routerLink="/historia">Historie</a>
    <a mat-flat-button class="nav-button" routerLink="/hombres">Medlemmer</a>
    <div class="center" routerLink="">
        <h1 class="page-title">Los Mexicanacas</h1>
        <img class="logo" src="../../assets/LosMexicanas.png">
    </div>
    <a mat-flat-button class="nav-button" routerLink="/booking">Booking</a>
    <a mat-flat-button class="nav-button" routerLink="/visitas">Gjestebok</a>
</mat-toolbar>