
mat-toolbar {
    background-color: #f8c83c;
    height: 100%;
    text-align: center;
    justify-content: center;
    max-width: 100vw;
}

.page-title {
    font-size: 2rem;
    font-family: 'Rock Salt';
}

.logo {
    height: 4rem;
    justify-self: end;
}