
mat-toolbar {
    position: relative;
    display: flex;
    height: 100%;
    z-index: 10;

    background-color: #f8c83c;
    box-shadow: 0px 2px 10px #555;

    text-align: center;
    justify-content: center;
    
}

.page-title {
    font-size: 2rem;
    font-family: 'Rock Salt';
}

.logo {
    height: 4rem;
    justify-self: end;
}