
.poncho-background {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    height: 100%;
    max-width: 100vw;
    background-color: #006341;
    color: #FFF;
}

.stripe-box {
    width: 100%;
    height: 25%;
}

.poncho-stripe {
    background-color: #b6932a;
    width: 100%;
    height: 3px;
    margin: 5px 0;
    position: relative;
    
}

.info-box {
    box-sizing: border-box;
    height: 75%;
    width: 100%;
    padding: 0 5% 5% 5%;

    text-align: center;

}